@font-face {
	font-family: 'roboto';
	src: url('../fonts/roboto/Roboto-Regular.eot'); /* IE9 Compat Modes */
	src: url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/roboto/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/roboto/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/roboto/Roboto-Regular.svg#svgGeorgia') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'roboto';
	src: url('../fonts/roboto/Roboto-Bold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/roboto/Roboto-Bold.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/roboto/Roboto-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/roboto/Roboto-Bold.svg#svgGeorgia') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'roboto';
	src: url('../fonts/roboto/Roboto-Light.eot'); /* IE9 Compat Modes */
	src: url('../fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/roboto/Roboto-Light.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/roboto/Roboto-Light.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/roboto/Roboto-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/roboto/Roboto-Light.svg#svgGeorgia') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: 300;
}