@media(min-width: 768px) {
    body {
        font-size: 12px;
    }
  .container {
    width: 750px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .news-block {
    .news-block-left {
      width: 110px;
      margin-right: 5px;
    }
    .news-block-right {
      padding-right: 0;
      max-height: 60px;
      .news-block-desc {
        font-size: 8px;
      }.news-block-text {
        font-size: 12px;
        h4 {
          font-size: 12px;
        }
      }
    }
  }
  .navbar-toggleable-md {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: flex !important;
    width: 100%;
  }
  .exchange-wrapper {
    .exchange-block {
      flex-basis: 270px;
      padding: 20px 0 25px 0;
      .exchange-block-img {
        margin-right: 15px;
      }
      .exchange-block-text {
        font-size: 16px;
      }
    }
  }
  .logo-img {
    height: 30px;
    width: 220px;
    background-image: url(../images/logo.png);
  }
  .subheader .subheader-wrapper {
    .subheader-top {
      display: flex;
      border-bottom: 1px solid #d6d9dd;
      .navbar-collapse {
        width: 100%;
        position: static;
        background-color: transparent;
        font-size: inherit;
      }
      .subheader-top-navbar {
        border-top: none;
        border-bottom: none;
        &:before {
          content: none;
        }
        > ul {
          display: flex;
          li {
            padding: 0 20px 0 0;
            border-bottom: none;
            &:last-child {
              padding-right: 0;
              text-align: right;
              flex-grow: 1;
            }
            a {
              color: #313131;
            }
          }
        }
      }
    }
    .subheader-bottom {
      border-top: 1px solid #e6e7ea;
      margin-bottom: 25px;
      padding: 8px 0;
      .subheader-bottom-navbar {
        display: flex;
      }
  }
    .subheader-bottom-search {
      width: 230px;
    }
  }
  .card-big {
    display: flex;
    max-height: 140px;
    overflow: hidden;
    .card-big-left {
        .card-big-header {
            font-size: 9px;
        }
    }
    .card-big-right {
        .card-big-img {
            img {
                width: 100%;
            }
        }
    }
  }
  .interview-wrapper {
      .interview-body {
        .news-block {
            flex-basis: 370px;
        }
    }
  }
  .side-interview .side-interview-body h4 {
      font-size: 12px;
  }
  .articles-wrapper .articles-body .news-block {
      flex-basis: calc(50% - 10px);
      margin-right: 10px;
  }
  .footer-map {
    ul {
      font-size: 12px;
      li {
        &:not(:first-child) {
          margin-left: 10px;
          &:before {
            margin-right: 15px;
          }
        }
      }
    }
  }
  .news-list {
    h2 {
      font-size: 14px;
    }
    .news-block-left {
      margin-right: 10px;
    }
  }
  .more-articles {
    font-size: 12px;
    height: 30px;
  }
  .currency-wrapper {
    .currency-dropdowns {
      padding: 3px 10px;
      > ul {
        li {
          margin-bottom: 0;
          &.currency-search-wrapper {
            flex-basis: auto;
            flex-grow: 1;
          }
        }
      }
    }
  }
  .rwd-table {
    font-size: 9px;
    margin-bottom: 10px;
    tr {
      &:first-child {
        font-size: 10px;
      }
    }
    td {
      background-color: transparent;
      border-bottom: 1px solid #e5eaf2;
      span {
        padding: 0;
      }
      img {
        height: auto;
        padding: 0;
      }
      &:first-child {
        span {
          padding: 0;
          background-color: transparent;
          color: #313131;
        }
      }
    }
  }
  .currency-wrapper {
    h2 {
      font-size: 14px;
    }
  }
}

@media(min-width: 992px) {
  .container {
    width: 970px;
  }
  .exchange-wrapper {
    flex-wrap: nowrap;
  }
  .logo-img {
    height: 47px;
    width: 353px;
  }
  .subheader {
    .subheader-wrapper {
      .subheader-top {
        padding: 25px 0;
        .navbar-brand {
          margin-right: 50px;
        }
      }
    }
  }
  .subheader .subheader-wrapper .subheader-bottom {
    .subheader-bottom-navbar {
      display: flex;
      font-size: 16px;
      ul {
        li {
          .dropdown {
            padding-right: 19px;
          }
          a {
            padding-right: 20px;
          }
        }
      }
    }
    .subheader-bottom-search {
      height: 38px;
      width: 360px;
      font-size: 16px;
      span {
        width: 20px;
        height: 20px;
      }
    }
  }
  .news-block.vertical {
    flex-basis: 25%;
  }
}

@media(min-width: 1200px) {
  .container {
    width: 1200px;
  }
  body {
    font-size: 16px;
  }
  .card-big {
      max-height: initial;
      .card-big-left {
        flex-basis: 400px;
        .card-big-header {
            font-size: 14px;
        }
        .card-big-text {
            margin-top: 15px;
            font-size: 16px;
            h4 {
                font-size: 18px;
                margin-bottom: 10px;
            }
        }
    }
  }
  .news-block {
    .news-block-left {
      width: 150px;
      margin-right: 15px;
    }
    .news-block-right {
      padding-right: 10px;
      .news-block-desc {
        font-size: 12px;
      }
      .news-block-text {
        font-size: 16px;
        max-height: 65px;
        h4 {
          font-size: 16px;
        }
      }
    }
  }
  .side-interview .side-interview-body {
      padding-top: 15px;
      button {
        font-size: 16px;
      }
      h4 {
        font-size: 16px;
    }
  }
  .calendar-wrapper {
    margin-bottom: 20px;
      .calendar-block {
          .calendar-block-header {
              font-size: 12px;
              p {
                &.calendar-block-header-left,
                &.calendar-block-header-right {
                    font-size: 14px;
                    padding: 0 10px;
                }
              }
          }
          .calendar-block-body {
              .calendar-block-img {
                flex-basis: 75px;
              }
              .calendar-block-text {
                  font-size: 14px;
                  h4 {
                    font-size: 14px;
                  }
              }
              .calendar-block-star {
                flex-basis: 50px;
              }
          }
      }
  }
  .slider-wrapper .slider-header a {
    font-size: 14px;
  }
  .articles-wrapper .articles-body .news-block {
      flex-basis: calc(50% - 20px);
      margin-right: 20px;
  }
  footer {
      .footer {
        .footer-copy {
            font-size: inherit;
        }
        .footer-contacts {
            font-size: 14px;
            margin-right: 35px;
            a:first-child {
                padding-right: 40px;
            }
        }
      }
      .footer-map {
          ul {
              font-size: 14px;
              li {
                  &:not(:first-child) {
                      margin-left: 15px;
                      &:before {
                          margin-right: 15px;
                      }
                  }
              }
          }
      }
  }
  .btn-gray {
    padding: 15px 50px;
  }
  .news-list {
    h2 {
      font-size: 24px;
      margin-bottom: 25px;
      padding-top: 10px;
    }
    .news-block {
      .news-block-left {
        width: 170px;
      }
    }
  }
  .more-articles {
    font-size: 16px;
    height: 50px;
  }
  .currency-dropdowns {
    padding: 5px 15px;
    font-size: 16px;
    > ul {
      li {
        &.currency-search-wrapper {
          margin-left: 45px;
        }
        &:not(:last-child) {
          padding-right: 15px;
        }
      }
    }
  }
  .currency-table-wrapper {
    .currency-table-header {
      > ul {
        font-size: 16px;
        li {
          &.next,
          &.view-all {
            font-size: 16px;
          }
        }
      }
    }
  }
  .rwd-table {
    font-size: 14px;
    border-spacing: 0;
    tr {
      &:first-child {
        font-size: 14px;
        border-top: 1px solid #d4dce9;
        th {
          border-bottom: 10px solid #eceef1;
          &:first-child {
            width: 15px;
          }
        }
      }
    }
    th {
      padding: 3px 0;
    }
    td {
      padding: 5px 0;
      border-bottom: 1px solid #d4dce9;
      img {
        width: 100%;
      }
      .bitcoin-icon {
        margin-right: 5px;
      }
    }
  }
  .newsfeed-wrapper .social {
    margin-bottom: 25px;
  }
  .tags-wrapper {
    margin-bottom: 25px;
  }
  .side-interview {
    margin-bottom: 25px;
  }
  .banner {
    margin-bottom: 25px;
  }
  .currency-wrapper {
    h2 {
      font-size: 24px;
    }
  }
}